body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#insertAlert{
  color: blue;
  display: inline;
}

#sendNewGame{
  border-radius: 10px;
  display: inline;
}

.lineResult{
  margin: 10px;
  padding: 5px;
}

.releaseMarginRight{
  margin-right: 5px;
}
